:root {
  text-align: center;
  background-color: #1a1a1a;
  color: whitesmoke;
  overflow: hidden;
}
#chart-container {
  border: 2px solid gray;
}
.bar:hover {
  fill: cadetblue;
}
g {
  color: gray;
}
#tooltip {
  background-color: #1a1a1a;
  width: 130px;
  height: fit-content;
  padding: 0.25rem;
  border: 1px solid gray;
  position: absolute;
  display: flex;
  text-align: left;
  opacity: 0;
  overflow: hidden

}