:root {
  text-align: center;
  background-color: #1a1a1a;
  color: whitesmoke;
  overflow: hidden;
}

.App {
  padding-top: 3rem;
}

#chart-container {
  width: fit-content;
  height: fit-content;
  margin: 3rem auto;
  padding: 1rem;
  border: 2px solid gray;
}
.bar:hover {
  fill: cadetblue;
}
g {
  color: gray;
}
#tooltip {
  background-color: #1a1a1a;
  width: 130px;
  height: fit-content;
  padding: 0.25rem;
  border: 1px solid gray;
  position: absolute;
  display: flex;
  text-align: left;
  opacity: 0;
  overflow: hidden

}